<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Bir Hayvan Dostumuzu <span class="text-primary">Sahiplen</span>menin Tam Zamanı</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Aynı zamanda hayvan dostunuza tamamen güvenilir bir şekilde yeni bir yuva kazandırabilirsiniz!</p>
                <a class="btn btn-primary btn-xl" routerLink="advertlist">İLANLARI İNCELE</a>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Neden Sahiplen ?</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Detaylı İçerik</h3>
                    <p class="text-muted mb-0">Sahiplenmek istediğiniz dostumuzun tüm detaylı bilgilerini görebilirsiniz.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-phone fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Mobil Uyumlu</h3>
                    <p class="text-muted mb-0">İstediğiniz her yerden mobil cihazınıla erişim sağlayabilirsiniz.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Geniş İçerik</h3>
                    <p class="text-muted mb-0">Her geçen gün artmakta olan geniş ilan portfolyosunu takip edebilirsiniz!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Yeni Bir Dost</h3>
                    <p class="text-muted mb-0">Sahipleneceğiniz yeni bir hayvan dostumuz, hepsinden daha kıymetli.</p>
                </div>
            </div>
        </div>
    </div>
</section>