<header class="masthead2">
  <section class="py-5 bg-transparent">
    <div class="container px-5">
      <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
          <h1 class="fw-bolder">İlan Ver</h1>
          <p class="lead fw-normal text-muted mb-0">Umarız dostumuz yeni yuvasında çok mutlu olur..</p>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">

            <form id="contactForm"  [formGroup]="advertForm" (ngSubmit)="createAdvert()">
              <div class="form-floating mb-3">
                <input formControlName="title" class="form-control" type="text" data-sb-validations="required" />
                <label for="name">İlan Başlığı</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="explanation" class="form-control" type="text" data-sb-validations="required" />
                <label for="email">İlan Açıklaması</label>
              </div>
              <br>
              <div class="form-floating mb-3">
                <input formControlName="name" class="form-control" type="text" data-sb-validations="required" />
                <label for="name">Hayvan Dostumuzun Adı</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="age" class="form-control" type="text" data-sb-validations="required" />
                <label for="email">Yaşı</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="breed" class="form-control" type="text" data-sb-validations="required" />
                <label for="phone">Cinsi</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="gender" class="form-control" type="text" data-sb-validations="required" />
                <label for="phone">Cinsiyet</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="bio" class="form-control" type="text" data-sb-validations="required" />
                <label for="phone">Hakkında</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="pictureUrl" class="form-control" type="text" data-sb-validations="required" />
                <label for="phone">Fotoğraf URL</label>
              </div>

              <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Yuva
                  Bul</button></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </section>
</header>
