  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="text-center">
            <h2 class="fw-bolder">Başlıca İlanlar</h2>
            <p class="lead fw-normal text-muted mb-5">Sahiplenmek istediğiniz hayvan dostumuzun detaylarını öğrenmek
              için
              ilan detaylarına girebilirsiniz.</p>
          </div>
        </div>
      </div>
      <div class="row gx-5" *ngFor="let data of adverts">
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" style="width: 100%; height: 220px;" [src]="data.advert.pictureUrl" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{data.breed}}</div>
              <a class="text-decoration-none link-dark stretched-link" routerLink="/advert/{{data.advert.id}}">
                <h5 class="card-title mb-3">{{data.advert.title}}</h5>
              </a>
              <p class="card-text mb-0">{{data.advert.explanation}}</p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img class="rounded-circle me-3" src="assets/img/user.png" alt="..." />
                  <div class="small">
                    <div class="fw-bold">{{data.username}}</div>
                    <div class="text-muted">{{data.diffDay}} gün önce eklendi.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
